{
  "development": {
      "DB_CONN": "",
      "POSTMARK_SERVER_KEY": "",
      "POSTMARK_FROM_ADDRESS": "",
      "POSTMARK_TEMPLATE_ID": ""
  },
  "stage": {
      "DB_CONN": "",
      "POSTMARK_SERVER_KEY": "",
      "POSTMARK_FROM_ADDRESS": "",
      "POSTMARK_TEMPLATE_ID": ""
  },
  "production": {
      "DB_CONN": "",
      "POSTMARK_SERVER_KEY": "",
      "POSTMARK_FROM_ADDRESS": "",
      "POSTMARK_TEMPLATE_ID": ""
  }
}
