{
  "development": {
      "DB_CONN": "postgres://root@localhost/hellohired"
  },
  "stage": {
      "DB_CONN": "postgres://hhstage:laksdb13874@hellohired-stage.c1iv9trztdfj.us-east-1.rds.amazonaws.com/hellohired_stage"
  },
  "production": {
      "DB_CONN": "postgres://hhstage:laksdb13874@hellohired-stage.c1iv9trztdfj.us-east-1.rds.amazonaws.com/hellohired_stage"
  }
}
